.creditCardOuterDiv {
  width: 100%;
  margin: 20px;
  /* background-image: url('../background.png'); */
  /* background-repeat: no-repeat; */
  border-radius: 10px;
}

.creditCardDiv {
  border: 2px solid black;
  width: 350px;
  height: 220px;
  margin: 1px;
  padding: 13px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.bankName {
  text-align: right;
  margin-right: 10px;
  font-weight: 600;
  font-size: large;
}
