#outerDiv {
  position: relative;
  height: 300px;
  width: 21%;
  margin: 0px auto;
}

.box {
  border: 2px solid black;
  text-align: center;
  width: 120px;
  height: 120px;
  display: inline-block;
  margin: 15px;
  background: #cfe2f3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: bold;
}
#firstBox {
  position: absolute;
  top: 10px;
  left: 10px;
}
#secondBox {
  position: absolute;
  top: 10px;
  left: 155px;
}
#thirdBox {
  position: absolute;
  top: 135px;
  left: 10px;
}
#fourthBox {
  position: absolute;
  top: 135px;
  left: 155px;
}
#fifthBox {
  position: absolute;
  top: 70px;
  left: 85px;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
