.creditCardDiv {
  width: 100%;
}
.creditCardOuter {
  width: 25%;
  height: 250px;
  border-radius: 15px;
  margin: 10px auto;
  padding: 14px;
  background: linear-gradient(110deg, #4e342e 60%, #bcaaa4 60%);
}

.bankName {
  text-align: right;
  font-size: 27px;
  padding: 0px;
  color: #eceff1;
  text-shadow: 4px 4px 6px #3e2723;
}
.cardNumber {
  width: 100%;
  font-size: 37px;
  text-align: center;
  color: #eceff1;
  text-shadow: 4px 4px 6px #3e2723;
}
.buttonDiv {
  margin: 10px;
}
.backButton {
  border: 1px solid black;
  font-size: 29px;
  color: #3e2723;
  outline: none;
  border: 0px solid black;
}
.cardHolderName {
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  color: #eceff1;
  text-shadow: 4px 4px 6px #3e2723;
}
.expiryDates {
  display: flex;
  justify-content: center;
}
.expiryDates > div {
  font-size: 20px;
  color: #eceff1;
  text-shadow: 4px 4px 6px #3e2723;
}
.deleteButton {
  margin-top: 5px;
  text-align: right;
  font-size: x-large;
  color: #3e2723;
}
